@font-face {
  font-family: "DM";
  src: url("DMSans-VariableFont_opsz\,wght.ttf") format("woff2"),
    /* Modern Browsers */ url("DMSans-VariableFont_opsz\,wght.ttf")
      format("woff"); /* Legacy Browsers */
  /* Optionally, you can define font-weight and font-style here */
}
body {
  font-family: "DM";
}
@media (min-width: 525px) and (max-width: 768px) {
  .flexIt {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .fitMedia {
    width: 12rem !important;
  }
  .fitinMedia {
    width: 12rem !important;
  }
}
@media (min-width: 769px) and (max-width: 1080px) {
  .flexIt {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .fitMedia {
    width: 13rem !important;
  }
  .fitinMedia {
    width: 13rem !important;
  }
}
@media (min-width: 1001px) and (max-width: 1366px) {
  .flexIt {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .fitMedia {
    width: 14rem !important;
  }
  .fitinMedia {
    width: 14rem !important;
  }
}
@media (min-width: 1367px) and (max-width: 1440px) {
  .flexIt {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .fitMedia {
    width: 14rem !important;
  }
  .fitinMedia {
    width: 14rem !important;
  }
}
@media (min-width: 1441px) and (max-width: 1600px) {
  .flexIt {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .fitMedia {
    width: 14rem !important;
  }
  .fitinMedia {
    width: 14rem !important;
  }
}
@media (min-width: 1601px) and (max-width: 1920px) {
  .flexIt {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .fitMedia {
    width: 21rem !important;
  }
  .fitinMedia {
    width: 21rem !important;
  }
}
@media (min-width: 1921px) {
  .flexIt {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .fitMedia {
    width: 23rem !important;
  }
  .fitinMedia {
    width: 23rem !important;
  }
}
@media (min-width: 1023px) {
  .wipe-right-text {
    font-size: 5rem;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    opacity: 0;
    margin-bottom: 10px;
  }

  .animate {
    animation: wipeRight 3s ease-in-out;
  }

  .wipe-right-text.show {
    width: 90%;
    opacity: 1;
  }

  @keyframes wipeRight {
    0% {
      width: 0;
      opacity: 0;
    }
    90% {
      width: 90%;
      opacity: 1;
    }
  }

  .liftThis {
    overflow: hidden;
    position: absolute;
    top: 30.5rem !important;
    left: 0rem !important;
  }
  .thisOne {
    position: relative;
    top: 4rem;
  }
  .thisOneToo {
    position: relative;
    top: 3rem !important;
    /* background-color: red; */
  }
}
@media (max-width: 640px) {
  .sidebar {
    position: fixed;
    top: 13%;
    right: 2%;
    width: 300px;
    /* height: 100%; */
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    transition: transform 0.3s ease;
    /* transform: translateY(8%); */
  }

  .sidebar.show {
    transform: translateX(0);
  }
  .outer {
    width: 14rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    position: absolute;
  }
  .setSearchIcon {
    position: absolute;
    top: -0.8rem !important;
    right: 1rem !important;
  }
  .inner {
    width: 14rem;
  }
  .hdrRes {
    height: 3rem;
  }
  /* .tribSec {
    position: relative;
    top: 9rem;
  } */
  .searchBox {
    width: 10rem;
    height: 1.8rem;
    margin-right: 2rem;
  }
  .modalRes {
    width: 30rem;
  }
  .setTwoBtn {
    position: absolute;
    top: 22rem !important;
    left: 1rem !important;
  }
  .thisOne {
    top: 26rem !important;
  }
  .thisOneToo {
    top: 30rem !important;
  }
  .onlyThisOne {
    top: 30rem !important;
  }
  .onlyThisOneToo {
    top: 34rem !important;
  }
  .liftThis {
    overflow: hidden;
    position: absolute;
    top: 20rem !important;
    left: 0rem !important;
  }
  /* .flexIssue {
    display: flex !important;
    flex-wrap: wrap !important;
  } */
}

@media (max-width: 768px) {
  .upit {
    position: absolute;
    left: -0.9rem !important;
    top: 7rem !important;
    width: 7rem !important;
    height: 7rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .thisUL {
    width: 30rem;
  }
  .imgHai {
    width: 6.3rem !important;
    height: 6.3rem !important;
    margin-bottom: 0.5rem !important;
  }
  .upthis {
    position: absolute;
    top: 17.5rem !important;
    left: 0rem !important;
    font-size: 1.7rem !important;
  }
  .upthistoo {
    position: absolute;
    top: 20rem !important;
    left: 0rem !important;
    font-size: 1rem !important;
    width: 23rem !important;
    margin-bottom: 5rem !important;
  }
  .liftThis {
    position: absolute;
    top: 19rem !important;
    left: -0.3rem !important;
    font-size: 1.2rem !important;
    overflow: hidden;
    /* background-color: yellow; */
  }
  .thisOne {
    position: absolute;
    top: 28.5rem !important;
    display: flex;
    justify-content: center;
    width: 98%;
    /* background-color: red; */
  }
  .itemsGap {
    margin: 0rem 0.5rem !important;
  }
  .thisOneToo {
    position: absolute;
    top: 32rem !important;
    /* background-color: red; */
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    padding: 0 1.3rem !important;
    padding-top: 1rem !important;
    margin: 0 auto !important;
  }
  .iconCenter {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .thisImg {
    align-self: center;
    align-items: center;
    margin-top: 0.8rem !important;
  }
  .onlyThis {
    margin-left: 0rem !important;
  }
}
.icon-hover:hover path {
  fill: #ea5f53;
}

.sidebar {
  position: fixed;
  top: 10%;
  right: 1%;
  width: 300px;
  /* height: 100%; */
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  transition: transform 0.3s ease;
  /* transform: translateY(8%); */
}
.outer {
  /* width: 10rem; */
  position: absolute;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.inner {
  /* width: 10rem; */
  /* position: absolute; */
  /* top: 0;
  left: 0;
  width: 100%; */
}
.sidebar.show {
  transform: translateX(0);
}
.drpShd {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.drpShd:hover {
  /* box-shadow: 8px 8px 8px rgba(255, 69, 69, 0.258), */
  /* 0 1px 3px rgba(255, 90, 65, 0.291); */
}

@media (min-width: 641px) and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 13%;
    right: 2%;
    width: 300px;
    /* height: 100%; */
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    transition: transform 0.3s ease;
    /* transform: translateY(8%); */
  }

  .sidebar.show {
    transform: translateX(0);
  }
  .outer {
    width: 14rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    position: absolute;
  }
  .setSearchIcon {
    position: absolute;
    top: -0.8rem !important;
    right: 1rem !important;
  }
  .inner {
    width: 14rem;
  }
  .hdrRes {
    height: 4rem;
  }
  .searchBox {
    width: 22rem;
    height: 1.8rem;
    margin-right: 2rem;
  }
  .modalRes {
    width: 40rem;
  }
  .setTwoBtn {
    position: absolute;
    top: 22rem !important;
    left: 1rem !important;
  }
  .thisOne {
    top: 30rem !important;
  }
  .thisOneToo {
    top: 34rem !important;
  }
  .liftThis {
    overflow: hidden;
    position: absolute;
    top: 20rem !important;
    left: 0rem !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }

  .sidebar {
    position: fixed;
    top: 13%;
    right: 2%;
    width: 300px;
    /* height: 100%; */
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    transition: transform 0.3s ease;
    /* transform: translateY(8%); */
  }

  .sidebar.show {
    transform: translateX(0);
  }
  .outer {
    width: 14rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    position: absolute;
  }
  .inner {
    width: 14rem;
  }
  .hdrRes {
    height: 4rem;
  }
  .setSearchIcon {
    position: absolute;
    top: -0.8rem !important;
    right: 1rem !important;
  }
  .setThis {
    position: relative;
    right: 5rem;
  }
  .setThisToo {
    position: relative;
    right: 3rem;
  }
  .searchBox {
    width: 22rem;
    height: 1.8rem;
    margin-right: 2rem;
  }
  .liftThis {
    overflow: hidden;
    position: absolute;
    top: 30.5rem !important;
    left: 0rem !important;
  }
  .thisOne {
    position: relative;
    top: 4rem;
  }
  .thisOneToo {
    position: relative;
    top: 3rem !important;
    /* background-color: red; */
  }
  .setSizing {
    width: 95%;
  }
}
@media (max-width: 378px) {
  .thisUL {
    display: flex;
    justify-content: center;
    width: 20rem;
    /* background-color: yellow; */
    padding: 0rem !important;
    margin: 0rem 0rem !important;
  }
  .itemsGap {
    width: 6rem;
    text-align: center;
  }
  .upthistoo {
    position: absolute;
    top: 19.5rem !important;
    left: 0rem !important;
    font-size: 0.8rem !important;
    width: 18rem !important;
    margin-bottom: 5rem !important;
  }
  .setTwoBtn {
    position: absolute;
    top: 21.5rem !important;
    left: 0.5rem !important;
  }
}
@media (max-width: 300px) {
  .thisUL {
    display: flex;
    justify-content: center;
    width: 18rem;
    /* background-color: yellow; */
    padding: 0rem !important;
    margin: 0rem 0rem !important;
  }
  .itemsGap {
    width: 6rem;
    text-align: center;
  }
  .upthistoo {
    position: absolute;
    top: 19.5rem !important;
    left: 0rem !important;
    font-size: 0.8rem !important;
    width: 18rem !important;
    margin-bottom: 5rem !important;
  }
}
@media (max-width: 703px) {
  .mu12 {
    position: relative;
    top: 3rem;
  }
  .mu22 {
    position: relative;
    top: 3rem;
  }
  .mu212 {
    position: relative;
    top: 3rem;
  }
  .mu222 {
    position: relative;
    top: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1247px) {
  .mu12 {
    position: relative;
    top: 3rem;
  }
  .mu22 {
    position: relative;
    top: 3rem;
  }
  .mu212 {
    position: relative;
    top: 3rem;
  }
  .mu222 {
    position: relative;
    top: 3rem;
  }
  /* .makeSmall1 {
    width: 14rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .makeSmall2 {
    width: 13rem;
    height: 22rem;
  }
  .makeSmall3 {
    width: 13rem;
    height: 20rem;
  } */
}
